[submodule "appcreator"]
	path = appcreator
	url = https://github.com/ifak/appcreator.git
[submodule "plugins/mbt_plugins"]
	path = plugins/mbt_plugins
	url = https://github.com/ifak/mbt_plugins.git
[submodule "plugins/distest_plugins"]
	path = plugins/distest_plugins
	url = https://github.com/ifak/distest_plugins.git
[submodule "3rd/mobata"]
	path = 3rd/mobata
	url = https://github.com/ifak/mobata.git
