MOBATA_ANTLR4CPP_LIB = yes
MOBATA_IFAKQJSONRPC_LIB = no
VIBN_MQTT = no

MOBATA_DSLPARSER_LIB = yes
MOBATA_GRAPHLAYOUT_LIB = yes
MOBATA_MOBATAWIDGETS_LIB = yes
MOBATA_PETRICHECK_LIB = no
MOBATA_REMOTECONTROL_LIB = no
MOBATA_IMPORTRHAPSODY_LIB = no
MOBATA_MODSIM_LIB = yes
MOBATA_MODTRACE_LIB = yes
MOBATA_TEST_EXECUTOR = no
